/*******************tag selecters*******************/
body{
    margin: 0 auto;
    text-align: center;
    color: #40514e;
    
    
}

div{ 
    color: #127681;
    padding: 100px 20px;
}

h1{
    margin: 0 auto;
    font-family: 'Tangerine', cursive;
    font-size: 80px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #2994b2;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #127681;
    font-size: 1.25rem;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: #34495e;
    font-size: 1.1rem;
}

a{
    color: #2994b2;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
}

a:hover{
    color: #eaf6f6;
}

hr{
    border: dotted 8px;
    border-bottom: none;
    width: 5%;
    color: #ecf0f1;
}


/*******************class selecters*******************/

.top-cloud{
    height: 80px;
    position: absolute;
    right: 200px;
    top: 50px;
}

.bottom-cloud{
    height: 100px;
    position: absolute;
    left: 150px;
    top: 250px;
}

.designer{
    margin-top: 100px;
    height: 400px;
}

.top-section{
    position: relative;
    background-color: #ecf0f1;
}

.middle-section{
    padding-bottom: 0;
}

.profile{
    width: 50%;
    margin: 0px auto;
    padding-top: 0px;
}

.profile-image{
    width: 25%;
    margin-top: 0;
}

.subtitle{
    font-size: 1.4rem;
    font-weight: 500;
    color: #127681;
}

.skill-row{
    width: 50%;
    margin: 10px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    line-height: 1.5;
}

.skill-image-1{
    width: 25%;
    margin-right: 30px;
    float: left;
}

.skill-image-2{
    width: 25%;
    margin-left: 30px;
    float: right;
}

.btn {
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 40px;
    background-color: #66BFBF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    }

.btn:hover{
    background: #0A7272;
    border-radius: 10px;
    text-decoration: none;    
} 

.contact-me{
    line-height: 1.4;
    width: 50%;
    margin: 0px auto;
}

.bottom-section{
    background-color: #66bfbf;
    padding: 30px;
}

.copyright-text{
    color: #eaf6f6;
    margin-top: 30px;
}